@use 'global' as *;

.departments-carousel-section{
    padding-left: 0;
    padding-right: 0;
    // position: absolute;
    // top: 0;

    & > .row{
        & > .col-departments{
           & > .carousel{
                width: 100%;
                margin-top: 75px;

                & > .carousel-inner{
                    // border-top-left-radius: 5px;
                    // border-bottom-left-radius: 5px;
                    // border-top-right-radius: 5px;
                    // border-bottom-right-radius: 5px;

                    & > .carousel-item{
                        & > img{
                            object-fit: cover;
                            max-height: 400px;
                        }
                    }
                }
           }
        }
    }
}

.information-section{
    margin-bottom: 5%;
    background-color: $transparent;
    // position: relative;
    // margin-top: 25% !important;

    & > .row{

        & > .my-home-promotional{
            font-family: $font-poppins;
            font-size: 1.3rem;
            text-align: center;
            font-weight: $super-bold-700;
            width: 70%;
            margin: 5% 15% 0% 15%;
            color: $coffee-without-opacity;

        }

        & > .ground-article, .office-article{
            padding-left: 10%;
            padding-right: 5%;
            padding-top: 5%;
        }


        & > .department-article, .home-article{
            padding-left: 5%;
            padding-right: 10%;
            padding-top: 5%;
        }

        & > .articles-sections-information{
            & > .content-article{
                & > .card{
                    border: 0;
                    border-radius: 15px;

                    & > .card-body{

                        & > .card-title{

                            font-family: $font-poppins;
                            font-weight: 700;
                            font-size: 1.5rem;
                            text-align: justify;

                        }
                        // & > .card-text{
                        //     font-family: "Roboto", sans-serif;
                        //     font-weight: 100;
                        //     font-size: 0.9rem;
                        //     text-align: justify;
                        // }
                    }
                }
            }
        }

        & > .articles-sections-information :hover
        {
            background-color: $transparent;


            img{
                width: calc(100% + 10px);
                transition: all 0.4s ease-out;
            }

            .card-title{
                color: $orange;
                font-size: 1rem;
            }


        }

        // & > *{
        //     & > .card-body{
        //         font-family: "Roboto", sans-serif;
        //         font-weight: 700;
        //         font-size: 1.2rem;
        //     }
        // }
    }

    // & > .articles-sections-information{

    //     padding: 5% 10%;

    //     & > .content-article{
    //         width: 100%;
    //         padding: 10px 30px;
    //     }
    // }
}

@media (max-width: 990px){

    .departments-carousel-section{
        padding-left: 0;
        padding-right: 0;
        position: unset;

        & > .row{
            & > .col-departments{
               & > .carousel{
                    width: 100%;
                    margin-top: 70px;

                    & > .carousel-inner{
                        // border-top-left-radius: 5px;
                        // border-bottom-left-radius: 5px;
                        // border-top-right-radius: 5px;
                        // border-bottom-right-radius: 5px;

                        & > .carousel-item{
                            & > img{
                                max-height: 400px;
                                object-fit: fill;
                            }
                        }
                    }
               }
            }
        }
    }

    .information-section{
        margin-bottom: 5%;
        background-color: #fffafa;
        position: relative;
        margin-top: 0px !important;

        & > .row{
            & > .ground-article, .office-article{
                padding-left: 10%;
                padding-right: 5%;
                padding-top: 5%;
            }

            & > .department-article, .home-article{
                padding-left: 5%;
                padding-right: 10%;
                padding-top: 5%;
            }
        }

        // & > .articles-sections-information{

        //     padding: 5% 10%;

        //     & > .content-article{
        //         width: 100%;
        //         padding: 10px 30px;
        //     }
        // }
    }
}


@media (max-width: 767px){

    .information-section{
        margin-bottom: 5%;
        background-color: #fffafa;

        & > .row{
            & > .ground-article, .office-article{
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5%;
            }

            & > .department-article, .home-article{
                padding-left: 5%;
                padding-right: 5%;
                padding-top: 5%;
            }

            & > .articles-sections-information :hover
            {
                background-color: $transparent;

                img{
                    width: 100%;
                    transition: none;
                }

                .card-title{
                    color: unset;
                    font-size: unset;
                }


            }
        }
    }

}