body {
  background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}

html, body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.navbar {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 700;
  font-stretch: semi-expanded;
  background-color: #313332;
}

.nav-bar-site {
  margin-right: 0px !important;
  line-height: 2.5;
  margin-bottom: 0 !important;
}
.nav-bar-site > .nav-item > .nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #f0f0f0;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  font-variant: small-caps;
  letter-spacing: 0.25em;
  font-size: 0.9em;
}
.nav-bar-site > .nav-item > .nav-link:hover {
  color: #fd7e14 !important;
  background-color: rgba(117, 121, 120, 0.4);
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.footer-page {
  background-color: #202028;
  color: #f0f0f0;
  position: absolute;
  left: 0;
  right: 0;
}
.footer-page > footer > .footer-information-page > .col-company-section {
  padding: 10px 50px;
  font-family: "Roboto", sans-serif;
}
.footer-page > footer > .footer-information-page > .col-company-section > .company-section > .ul-company-section-1 > .li-company-section-header {
  list-style: none;
  font-weight: 700;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 1rem;
}
.footer-page > footer > .footer-information-page > .col-company-section > .company-section > .ul-company-section-1 > .li-company-section-items {
  list-style: none;
  font-weight: 200;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: 0.9rem;
  margin-left: 10px;
}
.footer-page > footer > .footer-copyright > .col-copyright > .copyright-section > .p-copyright {
  margin: 20px 0;
  font-weight: 500;
  vertical-align: middle;
}

@media (max-width: 990px) {
  .navbar {
    font-family: "Source Sans Pro", sans-serif;
    font-size: 0.9rem;
    font-weight: 500;
    font-stretch: semi-expanded;
    background-color: #313332;
  }
  .navbar > .container-fluid > .navbar-toggler {
    border: none;
  }
  .navbar > .container-fluid > .navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    background-color: rgba(117, 121, 120, 0.4);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 0;
    color: transparent;
  }
  .navbar > .container-fluid > .navbar-toggler:before {
    text-decoration: none;
    outline: 0;
    background-color: #048b6a;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    border: 0;
    color: transparent;
  }

  .nav-bar-site {
    margin-right: 0px !important;
    line-height: 1.5;
    margin-bottom: 0 !important;
  }
  .nav-bar-site > .nav-item {
    width: 30%;
    margin: 0 35%;
  }
  .nav-bar-site > .nav-item > .nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #f0f0f0;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    font-variant: small-caps;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    text-align: center;
  }
  .nav-bar-site > .nav-item > .nav-link:hover {
    color: #fd7e14 !important;
    background-color: rgba(117, 121, 120, 0.4);
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  }
}

/*# sourceMappingURL=site.css.map */
