//Colores$white-smoke
$dark-green-title: #025157;
$dark-green-text: #135359;
$white: #ffffff;
$white-smoke: #f0f0f0;
$orange: #fd7e14;
$coffee-with-opacity: rgba(117, 121, 120, 0.4);
$coffee-without-opacity: #202028;
$transparent: transparent;
$dark-green: #5f9279;
$gray: #4a4a4a;
$light-gray: #979797;
$light-green: #67b54b;


//Fuentes
$font-alegreya: 'Alegreya', serif;
$font-roboto: "Roboto", sans-serif;
$font-arial: Arial, Helvetica, sans-serif;
$font-sans: "Source Sans Pro",sans-serif;
$font-poppins: 'Poppins', sans-serif;

//Font Weights
$super-bold-900: 900;
$super-bold-800: 800;
$super-bold-700: 700;
$super-bold-600: 600;
$super-bold-500: 500;
$super-bold-400: 400;
$super-bold-300: 300;
$super-bold-200: 200;
$super-bold-100: 100;
$super-bold-bold: bold;
$super-bold-bolder: bolder;
$super-bold-lighter: lighter;
$super-bold-normal: normal;

//Placeholders
// %base-title{
//     font-family: $font-title;
//     color: $dark-green-text;
//     font-weight: $super-bold;
// }